



#menu_pc{
    z-index:999;
    box-sizing:border-box;
    margin:0;
    padding:0;
    position:fixed;
    width:210px;
    height:500px;

    left:max(calc((100vw - 1280px)/2 + 1px), 1px);
    top:190px;
    overflow:visible;
}

